<div class="row">
    <div class="col s12 m6 center-align">
        <div class="row">
            <h2>Burgers To Try</h2>
            {{#each data}}
            <ul>
                {{#unless devoured}}
                <li>{{burger_name}}
                    <a class="waves-effect waves-light btn devourBtn" id="devour" data-id="{{id}}">Devour</a>
                </li>
                
                {{/unless}}
            </ul>
            {{else}}
            <p>No burgers</p>
            {{/each}}
        </div>
    </div>
    <div class="col s12 m6 center-align">
        <div class="row">
            <h2>Devoured</h2>
            {{#each data}}
            <ul>
                {{#if devoured}}
                <li>{{burger_name}}
                    <a class="waves-effect waves-light btn devourBtn" id="delete" data-id="{{id}}">Delete</a>
                </li>
                {{/if}}
            </ul>
            {{else}}
            <p>No burgers</p>
            {{/each}}
        </div>
    </div>
</div>
<div class="row">
    <div class="input-field col s6">
        <form class="newBurger">
            <label class="active" for="burgerName">Burger Name</label>
            <input placeholder="Burger Name" id="burgerName" type="text" class="validate">
            <button class="btn waves-effect waves-light submitBtn" type="submit" name="action">Submit</button>
        </form>
    </div>
</div>